body {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
}


#sign_in_box {
    padding: 1px;
    border: 2px solid black;
    border-radius: 5px;
    width: 450px;
    margin: auto;
}

#email {
    width: 285px;
    text-align: left;
}

#password{
    width: 285px;
}

#continue {
    width: 285px;
    background-color: yellow;
    border-radius: 3px;
}

#forgot_password {
    padding-left: 50px;
    text-decoration: none;
}

#need_help {
    padding-right: 185px;
    text-decoration: none;
}

footer {
    padding-top: 25px;
    border-top: 1px solid gray;    
}

#cons_of_use {
    text-decoration: none;
    padding: 30px;
}

#pri_pol {
    text-decoration: none;
    padding: 30px;
}

#help {
    text-decoration: none;
    padding: 30px;
}
